<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.sbl.mapper.core.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.learn.sbl.model.core.UserModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="loginId" column="loginId"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="disabled" column="disabled"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <association property="loginInfo" column="{id=id}" select="getLoginInfoByLoginId"/>
        <collection property="roles" column="id" select="com.learn.sbl.mapper.core.UserRoleMapper.findByUserId"/>
    </resultMap>

    <select id="selectUserList" resultMap="BaseResultMap">
		select
        id,loginId,name,password,email,disabled,creator,createTime,updateBy,updateTime,isFirstLogin
        FROM t_sys_user
        WHERE 1 = 1
	</select>

    <select id="selectOneUser" resultType="com.learn.sbl.model.core.UserModel">
        select
        id,loginId,name,password,email,disabled,creator,createTime,updateBy,updateTime
        FROM t_sys_user
        WHERE 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="loginId != null">
            and loginId = #{loginId}
        </if>
    </select>

    <insert id="insertLoginInfo">
        insert into
          t_sys_user_login(id,loginId,name,ip,loginTime)
        values
          (#{id},#{loginId},#{name},#{ip},now())
    </insert>

    <select id="getLoginInfoByLoginId" resultType="String">
        SELECT
          a.id,
          a.`loginId`,
          a.`name`,
          a.`ip`,
          MAX(loginTime) loginTime
        FROM
          t_sys_user_login a
        WHERE a.id = #{id}
    </select>
</mapper>
